/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.skos.spinner {
    background: url('/wp-admin/images/wpspin_light.gif') no-repeat;
    background-size: 16px 16px;
    display: none;
    float: left;
    opacity: .7;
    filter: alpha(opacity=70);
    width: 16px;
    height: 16px;
    margin: 5px 5px 0;
    visibility: visible;
}